{% extends "layout.html.twig" %}
{% block title %}
    {{ parent() }} - Liste de nos produits
{% endblock %}
{% block content %}
    {{dump(products)}}
        <h1>Nos produits </h1>
        <ul>
            {% for product in products %}
                <li>{{product}}</li>    
            {% endfor %}
    <ul>
{% endblock %}
